h1 {
  color: rgb(94, 13, 97);
  font-size: 30px;
  text-align: center;
  font-family: system-ui;
 
}

h2 {
  color: rgb(94, 13, 97);
  font-size: 20px;
  text-align: center;
  font-family: system-ui;
   
}

.bloque {
  display: flex;
  margin: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.hide {
  display: none;
}

p , label {
  color: rgb(94, 13, 97);
  font-size: 16px;
  font-family: system-ui;
} 
 

body {
  background-image: url(https://user-images.githubusercontent.com/55853256/85799797-742c4800-b705-11ea-9877-5554d32b052f.jpg);
}


.button {
  background-color: rgb(145, 23, 104);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: system-ui;
  border-radius: 8px;
 
}

.nombre {
  font-size: 16px;
  font-family: system-ui;
  text-align: center;
}
