h1 {
  color: rgb(94, 13, 97);
  font-size: 30px;
  text-align: center;
  font-family: 'Cambria';
   
}

input {
  text-align: center;
  font-family: 'Calibri';

  
}

label {
  font-size: 15px;
  font-family:'Helvetica';
  
}

.bloque {
  display: flex;
  border: 2px solid  #49274A;
  margin: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(https://user-images.githubusercontent.com/55853256/85799797-742c4800-b705-11ea-9877-5554d32b052f.jpg);
  width: 100%;
}

.hide {
  display: none;
}

.boton {
 border: 1px solid #2e518b; 
padding: 10px; 
background-color: #2e518b; 
color: #ffffff; 
text-decoration: none; 
text-transform: uppercase; 
font-family: 'Helvetica', sans-serif; 
border-radius: 50px; 

}

p {
  color: rgb(94, 13, 97);
  font-size: 15px;
  font-family: 'Helvetica';
 } 
 